@import "./reset.css";
@import "./fonts/Gilroy/stylesheet.css";
/*font-family: 'Work Sans', sans-serif;*/
/*font-family: 'Gilroy', sans-serif;*/

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.header {
    background-image: url("./../img/header/mask-group-pc.jpg");
    background-size: cover;
    background-position: center;
    /*width: 100vh;*/
    height: 100vh;
    background-color: #d9e9f0;

}

.container {
    margin: 0 auto;
    max-width: 1720px;
}

.pre-header {
    padding: 44px 44px 44px 0;
}

.nav {
    display: flex;
    justify-content: space-between;

}

/*.nav-logo img {*/
/*    margin-top: 56px;*/
/*    margin-bottom: 56px;*/
/*    margin-left: 100px;*/
/*}*/

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

.link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 800;
    /* identical to box height, or 180% */
    text-align: right;

    /* Teal */
    color: #114455;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 72px 10px 24px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 800;
    /* identical to box height, or 180% */
    text-align: right;

    /* Teal */
    color: #114455;
    border: 1px solid #114455;
    border-radius: 2px;
    transition: 0.1s ease-in;
}

.btn:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("./../img/icons/Arrow Right Black.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s ease-in;
}

.btn:hover {
    color: white;
    background-color: #114455;
}

.btn:hover::after {
    background-image: url("./../img/icons/Arrow Right white.svg");
}

.btn-big {
    padding: 14px 80px 14px 32px;
}

.btn-dark {
    background-color: #114455;
    color: white;
    transition: 0.1s ease-in;
}

.btn-dark:after {
    background-image: url("./../img/icons/Arrow Right white.svg");
    transition: 0.1s ease-in;
}

.btn-dark:hover {
    color: #114455;
    background-color: white;
}
.btn-dark:hover::after {
    background-image: url("./../img/icons/Arrow Right Black.svg");
}

.header-content {
    max-width: 1060px;
    color: white;
}

.header-main-title {
    max-width: 734px;
    margin: 126px 0 48px 100px;
    font-weight: 800;
    font-size: 80px;
    line-height: 94px;

    color: #114455;
}

.header-main-subtitle {
    margin: 0 0 72px 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;

    /* identical to box height */
    letter-spacing: -0.02em;

    /* Dark grey */
    color: #1F1F1F;

    opacity: 0.7;
}

.header-btn {
    margin: 0 0 386px 102px;
}