@media screen and (max-width: 2560px) {

    .header-arrow {
        max-width: 38px;
        left: 50%;
        bottom: 48px;
        transform: translate(-50%, 0);
        position: absolute;
    }

}

@media screen and (max-width: 1024px) {
    .header {
        background-image: url("./../img/header/mask-group-pc.jpg");
    }

    .none {
    }

    .container {
        margin: 0;
    }

    .pre-header {
        margin: 0 24px;
        padding-top: 50px;
        padding-bottom: 18px;
    }

    .nav {
        /*display: none;*/
    }

    .nav-logo {
        /*display: none;*/
        max-width: 110px;

    }

    .nav-list {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .header-content {
        /*display: none;*/
    }

    .header-main-title {
        display: none;
    }

    .header-main-subtitle {
        display: none;
    }

    .header-btn {
        display: none;
    }

    .btn-big {
        display: none;
    }

    .btn-dark {
        display: none;
    }

    .header-mobile-content {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        /*width: 100vh;*/
        position: relative;
    }

    .header-mobile-logo {
        margin: 0;
        display: block;
    }

    .header-mobile-title {
        margin-top: 28px;
        display: block;
    }

    .header-arrow {
        max-width: 38px;
        left: 50%;
        bottom: 59px;
        transform: translate(-50%, 0);
        position: absolute;
    }

    .header-arrow img {
        width: 38px;
        height: 28px;
    }

    .case-studies {
        margin-left: 100px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        background-image: url("./../img/header/back-mob-header.jpg");
    }

    .none {
    }

    .container {
    }

    .pre-header {
        /*display: none;*/
        padding-top: 50px;
        padding-bottom: 18px;
    }

    .nav {
        /*display: none;*/
    }

    .nav-logo {
        /*display: none;*/
        max-width: 110px;

    }

    .nav-list {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .header-content {
        /*display: none;*/
    }

    .header-main-title {
        display: none;
    }

    .header-main-subtitle {
        display: none;
    }

    .header-btn {
        display: none;
    }

    .btn-big {
        display: none;
    }

    .btn-dark {
        display: none;
    }

    .header-mobile-content {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        /*width: 100vh;*/
        position: relative;
    }

    .header-mobile-logo {
        margin: 0;
        display: block;
    }

    .header-mobile-title {
        margin-top: 28px;
        display: block;
    }

    .header-arrow {
        max-width: 19px;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%, 0);
        position: absolute;
    }

    .header-arrow img {
        width: 19px;
        height: 16px;
    }
}